<div ng-controller="ServiceNameController">
	<div class="panel-heading navbar-fixed-top">
	   <div class="panel-title text-center">
	   		<h2 class="title" i18n-data="new_template">New template</h2>
	   	</div>
	</div> 

	<div class="container" >    
	    <form class="sidebar-form">    			
			<div class="well">
				<span type="button" class="close" data-dismiss="alert">
					<span class="glyphicon glyphicon-info-sign"></span>
				</span>
				<span i18n-data="name_the_template"></span>
			</div>
	        <!-- :::::::::: INPUT :::::::::: -->
		    <div class="form-group">
		        <label for="search_service_name" i18n-data="template_name">Template name</label>
		        <input id="search_service_name" name="search_service_name" type="text" class="form-control" i18n-data="example_acronym" i18n-target-attr="placeholder" required="true" ng-model="service.name" ng-change="removeErrorMessages()"></input>
		    </div>
		    <!-- :::::::::: TAG :::::::::: --> 
            <div id="tag" class="form-group">
                <label for="template_tag" i18n-data="template_tag"></label>
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-tag"></span></span>
                    <input id="template_tag" name="template_tag" type="text" class="form-control" i18n-data="example_template_tag" i18n-target-attr="placeholder" required="true" ng-model="service.results.name"></input>
                </div>
            </div>

		    <nav> 
		        <ul class="pager">
		        	<li class="prev active pull-left">
						<button type="button" class="btn btn-primary" ng-click="loadPrevStep('ExistingServiceCheck')">
							<span class="glyphicon glyphicon-triangle-left"></span>
						  	<span i18n-data="back">Back</span>
						</button>
					</li>
		            <li class="next active pull-right">
		                <button id="save-result" type="button" class="btn btn-primary" ng-click="loadNextStep('ResultsProperties')">
		                    <span i18n-data="next">Next</span>
		                    <span class="glyphicon glyphicon-triangle-right"></span>
		                </button>
		            </li>
		        </ul>
		    </nav> 
	    </form>
	</div>
</div>